@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
   font-family: "Montserrat-SemiBold";
   src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
   font-family: "Montserrat-Bold";
   src: url("../fonts/Montserrat-Bold.ttf");
}

@layer utilities {
   .toggle-btn {
      @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45
      [&>div::after]:translate-y-0 [&>div::after]:-rotate-45
      [&>div]:bg-transparent
   }
}

.container {
   width: 100%;
   max-width: 1200px;
   padding: 0 20px;
   margin-left: auto;
   margin-right: auto;
}

.button {
   padding: 14px 20px;
   background: #FCAF17;
}

.check_item {
   background: url(../img/check_icon.png) no-repeat center top;
   max-width: 360px;
   padding-top: 50px;
   text-align: center;
}

.jumbotron_section {
   background: url(../img/bg_jumbotron.jpg) center;
   background-size: cover;
}

.map_section {
   background: url(../img/bg1.jpeg) center;
   background-size: cover;
}

.item {
   width: 360px;
   padding: 30px 0 30px 30px;
}

.item_1 {
   background: url(../img/01.png) no-repeat left bottom;
}
.item_2 {
   background: url(../img/02.png) no-repeat left bottom;
}
.item_3 {
   background: url(../img/03.png) no-repeat left bottom;
}
.item_4 {
   background: url(../img/04.png) no-repeat left bottom;
}
.item_5 {
   background: url(../img/05.png) no-repeat left bottom;
}
.item_6 {
   background: url(../img/06.png) no-repeat left bottom;
}

.donate_section {
   background-image: url(../img/bg_mob.jpg);
}

@media (min-width: 1024px) {
   .donate_section {
      background-image: url(../img/bg.jpeg);
   }
   .button {
      padding: 14px 20px;
   }
   .item {
      width: 360px;
      padding: 30px;
   }
}